<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="~/lib/datatables/css/dataTables.bootstrap4.css" rel="stylesheet">

    <script src="~/lib/font-awesome/font-awesome.min.js"></script>

    <link href="~/css/fonts.css" rel="stylesheet">

    <link href="~/css/_layout.css" rel="stylesheet" />

    @RenderSection("Styles", required: false)

    <title>@ViewData["Title"] - Ingredient-inator</title>
</head>

    <body>
        <nav class="navbar navbar-expand fixed-top navbar-light bg-navbar">
            <div class="container">
                <a class="navbar-brand" asp-action="Index" asp-controller="Home">Ingredient-inator</a>
                <button aria-controls="layoutNavbar" aria-expanded="false" class="navbar-toggler" data-target="#layoutNavbar" data-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="layoutNavbar">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                            <a class="nav-link" asp-action="Index" asp-controller="Home">Home</a>
                        </li>
                    </ul>

                    <ul class="navbar-nav ml-auto">
                        <partial name="_LoginPartial" />
                    </ul>
                </div>
            </div>
        </nav>

        <div class="flex-wrapper">
            <div class="container">
                @RenderBody()
            </div>
            
            <footer class="text-center p-3">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <a class="text-decoration-none" href="/Home/AboutUs">ABOUT US</a>
                        </div>
                        
                        <div class="col">
                            <a class="text-decoration-none" href="/Home/Privacy">PRIVACY POLICY</a>
                        </div>
    
                        <div class="col">
                            <a class="text-decoration-none" href="/Home/Contact">CONTACT US</a>
                        </div>
                    </div>
    
                    <div class="mt-4">&copy; 2021 Ingredient-inator</div>
                </div>
            </footer>
        </div>

        <script src="~/lib/jquery/dist/jquery.min.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        
        @RenderSection("Scripts", required: false)
    </body>
</html>
