@{
    ViewData["Title"] = "About Us";
}

<div class="text-center">
    <h1 class="display-4">
        About Ingredient-inator
    </h1>
</div>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#home">Your Problem</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#profile">Our Solution</a>
    </li>
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade active show" id="home">
        <p class="lead">
            Do you have a hard time deciding on what dish to prepare? <br />
            And when you finally pick on what to cook, do you find yourself realizing that
            you either don't have the right ingredients or that you don't have enough of them?<br />
            So now you have to go out of 
            The meal planning process that many people go through involves heavily deciding on
            what dish to prepare, realizing that you either don’t have the right ingredients or
            that you don’t have the proper quantity, having to go out and haphazardly purchasing
            more ingredients unless you can find a different recipe, then preparing the meal.
            A common scenario is that people already have what they need to make a perfectly good dish,
            but the recipe that they found says that they need a specific ingredient—sometimes an ingredient
            that they don’t have easy access to—to make the aforementioned dish. This can make meal planning a
            difficult and inconvenient task, holding people back from starting their cooking journey and resorting
            to less healthy options, like takeout and ready-made or instant food.
        </p>
    </div>
    <div class="tab-pane fade" id="profile">
        <p>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid. Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit.</p>
    </div>
    <div class="tab-pane fade" id="dropdown1">
        <p>Etsy mixtape wayfarers, ethical wes anderson tofu before they sold out mcsweeney's organic lomo retro fanny pack lo-fi farm-to-table readymade. Messenger bag gentrify pitchfork tattooed craft beer, iphone skateboard locavore carles etsy salvia banksy hoodie helvetica. DIY synth PBR banksy irony. Leggings gentrify squid 8-bit cred pitchfork.</p>
    </div>
    <div class="tab-pane fade" id="dropdown2">
        <p>Trust fund seitan letterpress, keytar raw denim keffiyeh etsy art party before they sold out master cleanse gluten-free squid scenester freegan cosby sweater. Fanny pack portland seitan DIY, art party locavore wolf cliche high life echo park Austin. Cred vinyl keffiyeh DIY salvia PBR, banh mi before they sold out farm-to-table VHS viral locavore cosby sweater.</p>
    </div>
</div>