@{
    ViewData["Title"] = "About Us";
}

<div class="container">
    <h1 class="display-4 text-center">About Ingredient-inator</h1>

    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" data-toggle="tab" href="#home">Your Problem</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" data-toggle="tab" href="#profile">Our Solution</a>
        </li>
    </ul>

    <div id="myTabContent" class="tab-content">
        <div class="tab-pane fade active show mb-5" id="home">
            <p class="lead">
                <br>
                <em>Do you have a hard time deciding on what dish to prepare?</em> <br><br>
                And when you finally decide on a recipe, do you find yourself realizing that
                you either don't have the right ingredients or that you don't have enough of them? <br><br>
                So now you have to go out, haphazardly purchasing more ingredients, unless you decide on a
                different recipe. <br>
                And that's when you start on the preparation of your meal. <br><br>
                A common scenario is that people already have what they need to make a perfectly good dish,
                but the recipe that they found says that they need a specific ingredient—sometimes an ingredient
                that they don’t have easy access to—to make the aforementioned dish. <br><br>
                This can make meal planning a difficult and inconvenient task, holding people back from starting
                their cooking journey and resorting to less healthy options, like takeout and ready-made or instant food.
                <br>
            </p>
        </div>
        
        <div class="tab-pane fade" id="profile">
            <p class="lead">
                <br>
                Ingredient-inator is a digital cookbook that can be used to input the ingredients that the user has at hand
                and will generate recipes that can be made with said readily-available ingredients. With this, users will be
                able to create recipes, search for recipes, view step-by-step instructions and video tutorials, bookmark
                recipes for easier access, and generate shopping lists based on a certain recipe's ingredients list.
                <br>
                <br>
                <br>
                <a  asp-action="Index" asp-controller="Recipe">
                    <button type="button" class="btn btn-outline-primary">
                        Start using our services!
                    </button>
                </a>
                
            </p>
        </div>
    </div>
</div>