@model Ingredient_inator.Models.Contact
@{
    ViewData["Title"] = "Contact Us";
}

<div class="container">
    <h1 class="display-4 text-center">Contact Us</h1>
    <hr class="mt-3">
    <form asp-action="Contact" class="mt-3">
        @if (ViewBag.Message != null)
        {
            <div class="alert alert-success">
                @ViewBag.Message
            </div>
        }
        
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-4">
                <div class="form-group">
                    <label asp-for="SenderName" class="control-label"></label>
                    <input asp-for="SenderName" class="form-control" />
                    <span asp-validation-for="SenderName" class="text-danger"></span>
                </div>
    
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
    
                <div class="form-group">
                    <label asp-for="ContactNo" class="control-label"></label>
                    <input asp-for="ContactNo" class="form-control" />
                    <span asp-validation-for="ContactNo" class="text-danger"></span>
                </div>
    
                <div class="form-group">
                    <label asp-for="Subject" class="control-label"></label>
                    <input asp-for="Subject" class="form-control" />
                    <span asp-validation-for="Subject" class="text-danger"></span>
                </div>
            </div>
    
            <div class="col">
                <div class="form-group">
                    <label asp-for="Message" class="control-label"></label>
                    <textarea asp-for="Message" class="form-control" rows="11"></textarea>
                    <span asp-validation-for="Message" class="text-danger"></span>
                </div>
            </div>
        </div>
        <hr class="mt-3">
        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
    </form>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
