@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <div>
        <img src="~/images/Ingredient-inator-Home.png"
             style="object-fit: cover;
                    height: 90%;
                    width: 100%;
                    object-position: top;"/>
    </div>
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
