@{
    ViewData["Title"] = "Privacy Policy";
}

<div class="container">
    <h1 class="display-4 text-center">Privacy Policy</h1>
    <hr class="mt-3">
    <p class="mt-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod tellus et metus pulvinar euismod. Praesent malesuada quis ex vitae cursus. Pellentesque congue lacus velit, eu fringilla nibh facilisis vel. Maecenas varius vel ligula et sollicitudin. Ut suscipit enim ac neque efficitur aliquam. Pellentesque blandit pellentesque massa vel consequat. Nullam faucibus tempor porta.
        <br><br>
        Nulla facilisi. Donec condimentum facilisis vehicula. Nulla auctor leo suscipit, bibendum ante eget, tincidunt sem. Nullam quam odio, accumsan eget mollis vel, aliquet quis dui. Vivamus mattis ut ante eget euismod. Phasellus sit amet volutpat nulla. Fusce elit nulla, aliquam non tristique et, congue eget mi. Phasellus turpis mi, sagittis vel risus nec, iaculis tempus lorem. Curabitur placerat tincidunt lorem non sagittis. Etiam ut elit sed nibh mollis elementum.
        <br><br>
        Sed vulputate nisi sit amet iaculis convallis. Quisque lobortis justo vitae magna cursus, in fermentum magna mattis. Nam eu purus porttitor turpis lacinia dignissim non a justo. Mauris tempor elit sed elit venenatis mattis. Nunc gravida dolor eget augue aliquam hendrerit. Pellentesque iaculis aliquet magna viverra elementum. Integer ac metus eleifend, consectetur purus eu, vulputate dui. Donec finibus nulla quis hendrerit cursus. Cras ut risus posuere, semper nibh ut, auctor turpis. Duis cursus, lorem ac fringilla venenatis, metus nisi auctor eros, eget euismod diam quam sit amet purus. Sed mattis pellentesque sapien, quis porttitor tellus accumsan vel. Vestibulum gravida blandit nisi, quis facilisis turpis rhoncus nec.
    </p>
</div>
