html, body {
    margin: 0;
    padding: 0;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    background-color: #FEF9E7;
    font-family: 'Raleway';
    font-weight: 500;
}

body > .container {
    margin-bottom: 100px;
    padding-top: 75px;
    min-height: 100%;
}

.bg-navbar {
    background-color: #EDE7D1;
    border-bottom: solid #E6DFC5;
}

.navbar-nav .nav-item .nav-link {
    color: #212F3D;
}

#logout {
    font-family: 'Raleway';
    font-weight: 500;
}

footer {
    color: #B3B3B3;
    background-color: #333333;
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer a {
    color: #89A39E;
}